#
# initialize and configure zram/swap including some tweaks related.
#
# service zramswapon /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.zramswap.sh start
service zramswapon /system/bin/sh /system/etc/init.lge.zramswap.sh start
	user root
	group system
	disabled
	oneshot

#user root
#group system
#disabled
#oneshot

#
# deinit the zram/swap
#
service zramswapoff /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.zramswap.sh stop
	user root
	group system
	disabled
	oneshot

#user root
#group system
#disabled
#oneshot

#on property:sys.boot_completed=1
on boot
	# initialize zram/swap
	start zramswapon
