on post-fs-data
    # Begin LGVRHID Fifo Directory
    mkdir /data/lgvrhid 0755 root root
    chmod 0660 /sys/bus/i2c/drivers/anx7418/6-0028/sbu2

service lg_vr_hid /system/bin/lgvrhid
    socket vrhid_ifc stream 0666 system system
    user root
    group usb
    disabled
    oneshot

on property:sys.boot_completed=1
    start lg_vr_hid
