# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.

import /init.elsa_product.rc
import /init.lge.modem_log.rc
import /init.lge.fingerprints.rc
import /init.lge.sensors.rc
import /init.lge.vrhid.rc
import /init.lge.audio.rc

on init
    # SD Card Encryption
    setprop ro.ssbd.session /dev/block/bootdevice/by-name/eksst

on post-fs
    # Support tuxera exfat filesystem
    insmod /system/lib/modules/texfat.ko

on property:init.svc.bootanim=stopped
    start write_event_log

# Touch_BSP, add call_state property, lockscreen property
on property:ril.lge.touch.callstate=0
    write /sys/devices/virtual/input/lge_touch/incoming_call 0
on property:ril.lge.touch.callstate=1
    write /sys/devices/virtual/input/lge_touch/incoming_call 1
on property:ril.lge.touch.callstate=2
    write /sys/devices/virtual/input/lge_touch/incoming_call 2
on property:service.keyguard.status=0
    write /sys/devices/virtual/input/lge_touch/keyguard 0
    start atd
on property:service.keyguard.status=1
    write /sys/devices/virtual/input/lge_touch/keyguard 1
    stop atd
on property:service.keyguard.status=2
    write /sys/devices/virtual/input/lge_touch/keyguard 1

on post-fs-data
    # change preload directory permission for movetosd about preload app
    start chmod_dp

    # Create VR PERF deamon related dirs
    mkdir /data/misc/vrperfd 0755 root system
    chmod 2755 /data/misc/vrperfd

on early-boot
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sda/queue/read_ahead_kb 2048

on boot
    setprop persist.sys.emmc_size 64G
    setprop ro.soc_info MSM8996
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 64
    # LGP_DATA_PERFORMANCE_HELPING_CODE
    write /proc/sys/net/ipv4/tcp_adv_win_scale 1

    # IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/preproto
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/preproto

    # Graphic node permissions
    chown system graphics /sys/devices/virtual/graphics/fb0/mdp/bw_mode_bitmap
    chown system graphics /sys/devices/virtual/graphics/fb0/mdp/vfps_fcnt
    chown system graphics /sys/devices/virtual/graphics/fb0/mdp/vfps
    chown system graphics /sys/devices/virtual/graphics/fb0/mdp/vfps_ratio
    chown system graphics /sys/devices/virtual/graphics/fb0/idle_time
    chown system graphics /sys/devices/virtual/graphics/fb0/dyn_pu
    chown system graphics /sys/devices/virtual/graphics/fb0/modes
    chown system graphics /sys/devices/virtual/graphics/fb0/mode
    chown system graphics /sys/devices/virtual/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0644 /sys/devices/virtual/graphics/fb0/mdp/vfps
    chmod 0644 /sys/devices/virtual/graphics/fb0/mdp/vfps_fcnt
    chmod 0644 /sys/devices/virtual/graphics/fb0/mdp/vfps_ratio
    chmod 0644 /sys/devices/virtual/graphics/fb0/idle_time
    chmod 0644 /sys/devices/virtual/graphics/fb0/dyn_pu
    chmod 0644 /sys/devices/virtual/graphics/fb0/modes
    chmod 0644 /sys/devices/virtual/graphics/fb0/mode
    chmod 0644 /sys/devices/virtual/graphics/fb0/msm_cmd_autorefresh_en

    # Touch_driver
    chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
    chmod 0664 /sys/devices/virtual/input/lge_touch/keyguard
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
    chmod 0664 /sys/devices/virtual/input/lge_touch/lpwg_data
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
    chmod 0664 /sys/devices/virtual/input/lge_touch/lpwg_notify
    chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
    chmod 0664 /sys/devices/virtual/input/lge_touch/quick_cover_status
    chown system system /sys/devices/virtual/input/lge_touch/q_sensitivity
    chmod 0664 /sys/devices/virtual/input/lge_touch/q_sensitivity
    chown system system /sys/devices/virtual/input/lge_touch/incoming_call
    chmod 0664 /sys/devices/virtual/input/lge_touch/incoming_call
    chown system system /sys/devices/virtual/input/lge_touch/ime_status
    chmod 0664 /sys/devices/virtual/input/lge_touch/ime_status
    chown system system /sys/devices/virtual/input/lge_touch/debug_tool
    chmod 0664 /sys/devices/virtual/input/lge_touch/debug_tool
    chown system system /sys/devices/virtual/input/lge_touch/debug_option
    chmod 0664 /sys/devices/virtual/input/lge_touch/debug_option

    # Touch_knock_on
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
    chmod 0664 /sys/devices/virtual/input/lge_touch/lpwg_data
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
    chmod 0664 /sys/devices/virtual/input/lge_touch/lpwg_notify
    chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
    chmod 0664 /sys/devices/virtual/input/lge_touch/quick_cover_status
    chown system system /sys/devices/virtual/input/lge_touch/q_sensitivity
    chmod 0664 /sys/devices/virtual/input/lge_touch/q_sensitivity

    # External Display Watch
    chown system system /sys/devices/virtual/ext_watch/config_fontonoff
    chmod 0664 /sys/devices/virtual/ext_watch/config_fontonoff
    chown system system /sys/devices/virtual/ext_watch/config_fontdata
    chmod 0664 /sys/devices/virtual/ext_watch/config_fontdata
    chown system system /sys/devices/virtual/ext_watch/config_fonteffect
    chmod 0664 /sys/devices/virtual/ext_watch/config_fonteffect
    chown system system /sys/devices/virtual/ext_watch/config_fontproperty
    chmod 0664 /sys/devices/virtual/ext_watch/config_fontproperty
    chown system system /sys/devices/virtual/ext_watch/config_fontposition
    chmod 0664 /sys/devices/virtual/ext_watch/config_fontposition
    chown system system /sys/devices/virtual/ext_watch/config_timesync
    chmod 0664 /sys/devices/virtual/ext_watch/config_timesync
    chown system system /sys/devices/virtual/ext_watch/query_fontdata
    chmod 0664 /sys/devices/virtual/ext_watch/query_fontdata
    chown system system /sys/devices/virtual/ext_watch/query_fontposition
    chmod 0664 /sys/devices/virtual/ext_watch/query_fontposition
    chown system system /sys/devices/virtual/ext_watch/query_timesync
    chmod 0664 /sys/devices/virtual/ext_watch/query_timesync
    chown system system /sys/devices/virtual/ext_watch/query_fontcolor
    chmod 0664 /sys/devices/virtual/ext_watch/query_fontcolor
    chown system system /sys/devices/virtual/ext_watch/query_fonteffect
    chmod 0664 /sys/devices/virtual/ext_watch/query_fonteffect

    # Begin AOD Display New Feature
    chown system system /sys/devices/virtual/graphics/fb0/aod
    chmod 0664 /sys/devices/virtual/graphics/fb0/aod
    chown system system /sys/devices/virtual/graphics/fb0/keep_aod
    chmod 0664 /sys/devices/virtual/graphics/fb0/keep_aod
    chown system system /sys/devices/virtual/graphics/fb0/cur_panel_mode
    chmod 0644 /sys/devices/virtual/graphics/fb0/cur_panel_mode
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight-ex/brightness
    chmod 0664 /sys/class/leds/lcd-backlight-ex/brightness
    chown system system /sys/devices/virtual/graphics/fb0/ext_off
    chmod 0664 /sys/devices/virtual/graphics/fb0/ext_off
    chown system system /sys/devices/virtual/graphics/fb0/toggle_u1
    chmod 0664 /sys/devices/virtual/graphics/fb0/toggle_u1
    chown system system /sys/devices/virtual/graphics/fb0/reader_mode
    chmod 0664 /sys/devices/virtual/graphics/fb0/reader_mode
    chown system system /system/bin/AODLayer
    chmod 0664 /system/bin/AODLayer
    chown system system /sys/devices/virtual/graphics/fb0/toggle_u1
    chown system system /sys/devices/virtual/graphics/fb0/ext_off

    # Marquee display feature
    chown system system /sys/devices/virtual/graphics/fb0/mq_mode
    chmod 0664 /sys/devices/virtual/graphics/fb0/mq_mode

    # Begin High Luminance Mode Features
    chown system system /sys/devices/virtual/graphics/fb0/hl_mode
    chmod 0664 /sys/devices/virtual/graphics/fb0/hl_mode

    # Setup permissions for fb1 related nodes
    chown system system /sys/class/graphics/fb1/hdcp/tp
    chmod 0664 /sys/class/graphics/fb1/hdcp/tp
    chown system graphics /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chmod 0664 /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/class/graphics/fb1/product_description
    chown system graphics /sys/class/graphics/fb1/res_info
    chmod 0664 /sys/class/graphics/fb1/res_info
    chown system graphics /sys/class/graphics/fb1/video_mode
    chmod 0664 /sys/class/graphics/fb1/video_mode
    chown system graphics /sys/class/graphics/fb1/s3d_mode
    chmod 0664 /sys/class/graphics/fb1/s3d_mode
    chown system graphics /sys/class/graphics/fb1/cec/enable
    chmod 0664 /sys/class/graphics/fb1/cec/enable
    chown system graphics /sys/class/graphics/fb1/cec/logical_addr
    chmod 0664 /sys/class/graphics/fb1/cec/logical_addr
    chown system graphics /sys/class/graphics/fb1/cec/rd_msg
    chmod 0664 /sys/class/graphics/fb1/cec/rd_msg
    chown system graphics /sys/class/graphics/fb1/pa
    chmod 0664 /sys/class/graphics/fb1/pa
    chown system graphics /sys/class/graphics/fb1/cec/wr_msg
    chmod 0600 /sys/class/graphics/fb1/cec/wr_msg

    # Create symlink for slimport in fb1
    symlink /sys/devices/soc/757a000.i2c/i2c-6/6-0028 /dev/graphics/slimport

    # Begin Img Tune Features
    chown system system /sys/devices/virtual/panel/img_tune/cabc
    chown system system /sys/devices/virtual/panel/img_tune/color_enhance
    chown system system /sys/devices/virtual/panel/img_tune/image_enhance_set
    chown system system /sys/devices/virtual/panel/img_tune/sharpness
    chmod 0664 /sys/devices/virtual/panel/img_tune/cabc
    chmod 0664 /sys/devices/virtual/panel/img_tune/color_enhance
    chmod 0664 /sys/devices/virtual/panel/img_tune/image_enhance_set
    chmod 0664 /sys/devices/virtual/panel/img_tune/sharpness

    # Feature chip vendor : brcm
    setprop bluetooth.chip.vendor brcm

    # Enable AVRCP Browsing
    setprop persist.service.avrcp.browsing 1

    # Enable AAC
    setprop persist.service.bdroid.aac 1

    # Enable APTXHD
    setprop persist.service.bdroid.aptxhd 1

    # For BCM FM Radio
    setprop ro.fm.module BCM

    # improve a2dp chopping using vendor command (BCM4358:1 / Others:0)
    setprop service.brcm.bt.chip_check 1

# LGE FM driver SELinux labeling
on property:bluetooth.fm.restorecon=1
    restorecon /sys/devices/virtual/video4linux/radio0
    restorecon_recursive /sys/devices/virtual/video4linux/radio0
    chown system system /sys/class/video4linux/radio0
    chown system system /sys/class/video4linux/radio0/fmrx_band
    chown system system /sys/class/video4linux/radio0/fmrx_rds_af
    chown system system /sys/class/video4linux/radio0/fmrx_rds_on
    chown system system /sys/class/video4linux/radio0/fmrx_rssi_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_snr_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_chl_lvl
    chown system system /sys/class/video4linux/radio0/fmrx_search_abort
    chown system system /sys/devices/virtual/video4linux/radio0/fmrx_comp_scan
    chown system system /sys/devices/virtual/video4linux/radio0/fmrx_deemph_mode
    chown system system /sys/devices/virtual/video4linux/radio0/fmrx_fm_audio_pins

on property:wifi_ftm.wififtmd_start=1
    start wififtmd
on property:wifi_ftm.wififtmd_start=0
    stop wififtmd

on property:wifi_ftm.diagd_start=1
    start diagd
on property:wifi_ftm.diagd_start=0
    stop diagd

# VR Performance Daemon
# Sets up initail cpusets for VR Performance Controller
on property:vr.perfd.controller.start=1
    start vrperfd
on property:vr.perfd.controller.start=0
    stop vrperfd

on property:sys.boot_completed=1
    # BT snoop log enable
    chown bluetooth net_bt_stack /sys/devices/platform/bcm_ldisc/snoop_enable
    start erase_sdenc_meta

    # Reset read ahead to 128kb
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/scheduler deadline

    # HMP scheduler settings
    write /proc/sys/kernel/sched_upmigrate 80
    write /proc/sys/kernel/sched_downmigrate 60
    write /proc/sys/kernel/sched_spill_nr_run 10
    write /proc/sys/kernel/sched_init_task_load 15

    # Change GPU initial power level from 214MHz(level 5) to 133MHz(level 6) for power savings
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/cancun_gpu_range_start_freq 133000000

    # Input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 2:1324800"
    write /sys/module/cpu_boost/parameters/multi_boost_freq "0:1324800 2:1324800"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 80
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "85 1500000:90 1800000:70"

    # CPU hotplug
    insmod /system/lib/modules/core_ctl.ko
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 2
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 60
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 40
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu0/core_ctl/task_thres 4

    write /sys/devices/system/cpu/cpu2/core_ctl/max_cpus 2
    write /sys/devices/system/cpu/cpu2/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu2/core_ctl/busy_up_thres 68
    write /sys/devices/system/cpu/cpu2/core_ctl/busy_down_thres 40
    write /sys/devices/system/cpu/cpu2/core_ctl/offline_delay_ms 500
    write /sys/devices/system/cpu/cpu2/core_ctl/is_big_cluster 1
    write /sys/devices/system/cpu/cpu2/core_ctl/task_thres 4

    # Big won't be online muche
    write /sys/devices/system/cpu/cpu2/core_ctl/not_preferred "1 1"

# change preload directory permission for movetosd about preload app
service chmod_dp /system/bin/sh /system/etc/change_permission_preload.sh
    disabled
    oneshot

service write_event_log /system/bin/write_event_log 55000
    user system
    group system
    disabled
    oneshot

service bdaddr_loader /system/bin/bdaddr_loader
    class late_start
    user root
    group bluetooth net_bt_admin
    oneshot

service ble_sniff_scan /system/bin/ble_sniff_scan
    user root
    group bluetooth net_bt_admin misc net_bt_stack
    disabled
    oneshot

# Shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/brcm-uim-sysfs
    class late_start
    user root
    group bluetooth net_bt_admin
    oneshot

# elsa devices use BRCM WLAN chipset
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -m/data/misc/wifi/p2p_supplicant.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1p2p_device=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # we will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    disabled
    oneshot

# TestMode Daemon for broadcom driver
service diagd /system/bin/diagd
    class late_start
    user root
    group radio system
    disabled
    oneshot
    socket lsock_diagd stream 0666

# PPPOE Feature
service pppoe_extd /system/bin/pppoe_extd
    user root
    group system radio
    disabled
    oneshot

# TO read WIFI MAC from LGFTM(MISC - block device)
service wififtmd /system/bin/wififtmd
    user root
    group radio system
    disabled
    oneshot

service erase_sdenc_meta /system/bin/vdc --wait sdcryptfs erase_remaining_km_meta
    disabled
    oneshot

# vr performance controller service
service vrperfd /system/bin/vrperfd
    class main
    user root
    disabled
