import /init.target.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

on early-boot
    # Set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Allow subsystem (modem etc) debugging
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

on boot
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/msm_core/parameters/polling_interval
    chown system system /sys/module/msm_core/parameters/disabled
    chown system system /sys/kernel/debug/msm_core/enable
    chown system system /sys/kernel/debug/msm_core/ptable
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown root system /sys/kernel/dload/emmc_dload
    chmod 0660 /sys/kernel/dload/emmc_dload

    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 2770 radio radio
    mkdir /dev/socket/qmux_audio 2770 media audio
    mkdir /dev/socket/qmux_bluetooth 2770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 2770 gps gps

    mkdir /persist/drm 0770 system system
    mkdir /persist/bluetooth 0770 bluetooth bluetooth
    mkdir /persist/misc 0770 system system
    mkdir /persist/alarm 0770 system system
    mkdir /persist/time 0770 system system

    # Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    # Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

    setprop wifi.interface wlan0

    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.wifi    524288,2097152,4194304,262144,524288,1048576
    setprop ro.telephony.call_ring.multiple false

    # Enable camera read sensors data
    setprop persist.camera.gyro.disable 0

    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,524288,4096,16384,110208
    setprop net.tcp.buffersize.lte     2097152,4194304,8388608,262144,524288,1048576
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,524288,4096,16384,262144
    setprop net.tcp.2g_init_rwnd 10

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # Enable default router information in RA
    write /proc/sys/net/ipv6/conf/default/accept_ra_defrtr 1

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    # Wifi firmware reload path
    chown wifi wifi /sys/module/bcmdhd/parameters/firmware_path

    # Mark wifi driver as unloaded - "ok" indicates loaded
    setprop wlan.driver.status not_ok

# MSM specific files that need to be created on /data
on post-fs-data
    # Create directories for fingerprint
    mkdir /data/misc/stargate 0770 system system
    mkdir /data/misc/stargate/bg_estimation 0770 system system
    mkdir /data/misc/stargate/calib_test 0770 system system
    mkdir /data/misc/stargate/database 0770 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system

    # Create folder for mm-qcamera-daemon
    mkdir /data/misc/camera 0770 camera camera
    mkdir /data/misc/ipa 0770 radio radio

    # Create netmgr log dir
    mkdir /data/misc/netmgr 0770 radio radio

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system
    chown system system /data/connectivity

    # Create the directories used by DPM subsystem
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm

    mkdir /data/dpm/nsrm 0771 system system
    chown system system /data/dpm/nsrm

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/misc/audio/acdbdata 0770 media audio
    mkdir /data/misc/audio/acdbdata/delta 0770 media audio

    # Create directory used by the DASH client
    mkdir /data/misc/dash 0770 media audio

    # Create directory used by display clients
    mkdir /data/misc/display 0770 system graphics

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown root system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    # Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps
    mkdir /data/misc/location/gpsone_d 0770 system gps
    mkdir /data/misc/location/quipc 0770 gps system
    mkdir /data/misc/location/gsiff 0770 gps gps

    # Create directory from IMS services
    mkdir /data/shared 0755 system system
    # Create /data/time folder for time-services
    mkdir /data/time 0700 system system

    mkdir /data/audio 0770 media audio

    # Create a folder for audio delta files
    mkdir /data/audio/acdbdata 0770 media audio
    mkdir /data/audio/acdbdata/delta 0770 media audio

    setprop vold.post_fs_data_done 1

    # Create FM dir for patchdownloader
    mkdir /data/misc/fm 0770 system system

    # RIDL data
    mkdir /data/misc/SelfHost 0710 system shell
    mkdir /data/misc/SelfHost/QCLogs 2750 system shell
    mkdir /data/misc/SelfHost/QCLogs/temp 0700 system shell
    mkdir /data/misc/SelfHost/storage 0700 system shell
    mkdir /data/misc/SelfHost/Running 2750 system shell
    mkdir /data/misc/SelfHost/socket 2770 system system

    # Create PERFD deamon related dirs
    mkdir /data/misc/perfd 2755 root system
    mkdir /data/system/perfd 2770 root system
    rm /data/system/perfd/default_values
    start perfd

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # Create IOP  deamon related dirs
    mkdir /data/misc/iop 0770 root system

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # File flags for prebuilt ril db file
    write /data/misc/radio/prebuilt_db_support 1
    chown radio radio /data/misc/radio/prebuilt_db_support
    chmod 0400 /data/misc/radio/prebuilt_db_support
    write /data/misc/radio/db_check_done 0
    chown radio radio /data/misc/radio/db_check_done
    chmod 0660 /data/misc/radio/db_check_done

    # qti-logkit data
    mkdir /data/misc/qti-logkit 0771 system system
    mkdir /data/misc/qti-logkit/shared-privileged 2770 system system
    mkdir /data/misc/qti-logkit/shared-public 2770 system qcom_diag
    mkdir /data/misc/qti-logkit/socket-privileged 2770 system system
    mkdir /data/misc/qti-logkit/socket-public 2750 system qcom_diag
    mkdir /data/misc/qti-logkit/logdata 2750 system shell

service perfd /system/vendor/bin/perfd
    class main
    user root
    group root readproc
    disabled
    socket perfd seqpacket 0666 root system

service iop /system/bin/iop
    class main
    user root
    group root
    disabled
    socket iop seqpacket 0666 root system

service ssr_setup /system/bin/ssr_setup
    oneshot
    disabled

service ss_ramdump /system/bin/subsystem_ramdump
    class main
    user system
    group system
    disabled

on property:persist.sys.ssr.enable_debug=*
    write /sys/module/subsystem_restart/parameters/enable_debug ${persist.sys.ssr.enable_debug}

on property:persist.sys.mba_boot_timeout=*
    write /sys/module/pil_msa/parameters/pbl_mba_boot_timeout_ms ${persist.sys.mba_boot_timeout}

on property:persist.sys.modem_auth_timeout=*
    write /sys/module/pil_msa/parameters/modem_auth_timeout_ms ${persist.sys.modem_auth_timeout}

on property:persist.sys.pil_proxy_timeout=*
    write /sys/module/peripheral_loader/parameters/proxy_timeout_ms ${persist.sys.pil_proxy_timeout}

on property:persist.sys.ssr.restart_level=*
    start ssr_setup

on property:persist.sys.ssr.enable_ramdumps=1
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    mkdir /data/ramdump 0770 system system
    start ss_ramdump

on property:persist.sys.ssr.enable_ramdumps=0
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0

on property:persist.radio.atfwd.start=false
    stop atfwd

on property:radio.atfwd.start=false
    stop atfwd

# Corefile limit
on property:persist.debug.trace=1
    mkdir /data/core 0777 root root
    write /proc/sys/kernel/core_pattern "/data/core/%E.%p.%e"

on property:bluetooth.sap.status=running
    start bt-sap

on property:bluetooth.sap.status=stopped
    stop bt-sap

on property:bluetooth.dun.status=running
    start bt-dun

on property:bluetooth.dun.status=stopped
    stop bt-dun

on property:ro.bluetooth.ftm_enabled=true
    start ftmd

service qcom-c_core-sh /system/bin/sh /init.qcom.class_core.sh
    class core
    user root
    oneshot

service qcom-c_main-sh /system/bin/sh /init.class_main.sh
    class main
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start qcom-c_main-sh
    start config_bt_addr

on property:persist.env.fastdorm.enabled=true
    setprop persist.radio.data_no_toggle 1

service cnd /system/bin/cnd
    class main
    socket cnd stream 0660 root inet
    group root wakelock
    writepid /dev/cpuset/system-background/tasks

service dpmd /system/bin/dpmd
    class late_start
    socket dpmd stream 0660 root system
    writepid /dev/cpuset/system-background/tasks

service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class core
    user root
    oneshot

service rmt_storage /system/bin/rmt_storage
    class core
    user root
    group system wakelock
    writepid /dev/cpuset/system-background/tasks

service tftp_server /system/bin/tftp_server
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

service start_hci_filter /system/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth qcom_diag
    disabled

on property:wc_transport.start_root=true
    start hci_filter_root

on property:wc_transport.start_root=false
    stop hci_filter_root
 
service hci_filter_root /system/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth qcom_diag system
    disabled

service bt-dun /system/bin/dun-server /dev/smd7 /dev/rfcomm0
    class late_start
    user bluetooth
    group bluetooth net_bt_admin inet
    disabled
    oneshot

service bt-sap /system/bin/sapd 15
    user bluetooth
    group bluetooth net_bt_admin
    class late_start
    disabled
    oneshot

service ftmd /system/bin/logwrapper /system/bin/ftmdaemon
    class late_start
    user root
    group bluetooth net_bt_admin misc net_bt_stack qcom_diag net_bt
    disabled
    oneshot

service bridgemgrd /system/bin/bridgemgrd
    class late_start
    user radio
    group radio qcom_diag
    disabled

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio qcom_diag
    disabled

service netmgrd /system/bin/netmgrd
    class main
    user root
    group root wifi wakelock radio inet
    group radio system wakelock
    writepid /dev/cpuset/system-background/tasks

service ipacm-diag /system/bin/ipacm-diag
    class main
    user radio
    socket ipacm_log_file dgram 0660 radio radio
    group radio qcom_diag
    disabled
    writepid /dev/cpuset/system-background/tasks

service ipacm /system/bin/ipacm
    class main
    user radio
    group radio inet
    disabled
    writepid /dev/cpuset/system-background/tasks

service qti /system/vendor/bin/qti
    class main
    user radio
    group radio qcom_diag usb
    disabled
    writepid /dev/cpuset/system-background/tasks

service sensors /system/bin/sensors.qcom
    class main
    user root
    group root
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

on property:sys.sysctl.tcp_adv_win_scale=*
    write /proc/sys/net/ipv4/tcp_adv_win_scale ${sys.sysctl.tcp_adv_win_scale}

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -dd \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # we will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    disabled
    oneshot

service wigig_supplicant /system/bin/wpa_supplicant \
    -iwigig0 -Dnl80211 -c/data/misc/wifi/wigig_supplicant.conf \
    -m/data/misc/wifi/wigig_p2p_supplicant.conf \
    -O/data/misc/wifi/wigig_sockets -dd \
    -e/data/misc/wifi/wigig_entropy.bin -g@android:wpa_wigig0
    # we will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    class main
    socket wpa_wigig0 dgram 0660 wifi wifi
    disabled
    oneshot

# FST Manager with hostapd (softap) - all settings inside ini file
service fstman /system/bin/fstman -B -ddd -c /data/misc/wifi/fstman.ini
    user wifi
    group wifi net_admin net_raw
    class main
    disabled
    oneshot

# FST Manager with supplicant - connect to supplicant socket
service fstman_wlan0 /system/bin/fstman -B -ddd -c /data/misc/wifi/fstman.ini @android:wpa_wlan0
    user wifi
    group wifi net_admin net_raw
    class main
    disabled
    oneshot

on property:netd.fstman.start=true
    start fstman

on property:netd.fstman.start=false
    stop fstman

service loc_launcher /system/bin/loc_launcher
    # loc_launcher will start as root and set its uid to gps
    class late_start
    group gps inet qcom_diag wifi
    writepid /dev/cpuset/system-background/tasks

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

service sensor-sh /system/bin/sh /init.qcom.sensors.sh
    class main
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

service atfwd /system/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

service hostapd /system/bin/hostapd -dd /data/misc/wifi/hostapd.conf
    class late_start
    user root
    group root
    oneshot
    disabled

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio wifi inet
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    class late_start
    group net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

service battery_monitor /system/bin/battery_monitor
    user system
    group system
    disabled

service ril-daemon /system/bin/rild
    class main
    socket rild stream 0660 root radio
    socket sap_uim_socket1 stream 0660 bluetooth bluetooth
    socket rild-debug stream 0660 radio system
    user root
    group radio cache inet misc audio log readproc wakelock net_raw diag qcom_diag

service ril-daemon2 /system/bin/rild -c 2
    class main
    socket rild2 stream 0660 root radio
    socket rild-debug2 stream 0660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_r sdcard_rw qcom_diag diag log net_raw

service ril-daemon3 /system/bin/rild -c 3
    class main
    socket rild3 stream 0660 root radio
    socket rild-debug3 stream 0660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_r sdcard_rw qcom_diag diag log net_raw

service usb_uicc_enable /system/bin/sh /system/etc/init.qcom.uicc.sh
    class late_start
    user root
    disabled
    oneshot

on property:sys.usb_uicc.enabled=1
    start usb_uicc_enable

on property:sys.usb_uicc.enabled=0
    start usb_uicc_enable

service profiler_daemon /system/bin/profiler_daemon
    class late_start
    user root
    group root
    disabled

service hcidump /system/bin/sh /system/etc/hcidump.sh
    user bluetooth
    group bluetooth system net_bt_admin net_admin
    disabled
    oneshot

service charger /charger
    class charger
    group log system graphics
    seclabel u:r:healthd:s0

service ssr_diag /system/bin/ssr_diag
    class late_start
    user system
    group system
    disabled

service qbcharger /charger -m 1
    disabled
    oneshot

on property:sys.qbcharger.enable=true
    write /sys/power/wake_lock QuickBoot
    start qbcharger

on property:sys.qbcharger.enable=false
    write /sys/power/wake_unlock QuickBoot
    stop qbcharger

service diag_mdlog_start /system/bin/diag_mdlog
    class late_start
    user shell
    group system qcom_diag sdcard_rw sdcard_r media_rw
    disabled
    oneshot

service diag_mdlog_stop /system/bin/diag_mdlog -k
    class late_start
    user shell
    group system qcom_diag sdcard_rw sdcard_r media_rw
    disabled
    oneshot

service vm_bms /system/bin/vm_bms
    user root
    group root
    disabled

service msm_irqbalance /system/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
    class core
    user root
    group root
    disabled

service wfdservice /system/bin/wfdservice
    class main
    user system
    group audio camera inet net_bt_stack drmrpc media_rw media input net_admin
    disabled
    oneshot

on property:sys.wfdservice=enable
    start wfdservice

on property:sys.wfdservice=disable
    stop wfdservice

# service for USERDEBUG
service LKCore-dbg /system/vendor/bin/LKCore
    class late_start
    oneshot
    disabled
    user root
    group root system log qcom_diag net_raw

# service for USER
service LKCore-rel /system/vendor/bin/LKCore
    class late_start
    oneshot
    disabled
    user system
    group system log qcom_diag

on property:sys.boot_completed=1
    write /dev/kmsg "Boot completed"
    start qcom-post-boot
    # CPE fw_name used by sound trigger HAL
    chown media audio /sys/kernel/wcd_cpe0/fw_name

service qseeproxydaemon /system/vendor/bin/qseeproxydaemon
    class late_start
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

service esepmdaemon /system/vendor/bin/esepmdaemon
    class core
    user system
    group nfc

on charger
    setprop persist.sys.usb.config charging

# Add poweroffhandler
service poweroffhandler /system/bin/poweroffhandler
    class core
    user media
    group graphics audio
    disabled
    oneshot
