service lg_dm_router1 /system/bin/lg_dm_router 1
    class late_start
    user system
    group system sdcard_r sdcard_rw media_rw net_raw net_admin inet qcom_diag readproc
    disabled
    oneshot

service lg_dm_router2 /system/bin/lg_dm_router 2
    class late_start
    user system
    group system
    disabled
    socket Full.DM.port stream 0660 system system

service lg_odm_service1 /system/bin/lg_odm_service 1
    class late_start
    user system
    group system net_raw sdcard_r sdcard_rw media_rw
    disabled
    oneshot

service lg_odm_service2 /system/bin/lg_odm_service 2
    class late_start
    user system
    group system net_raw sdcard_r sdcard_rw media_rw
    disabled
    oneshot
    socket Full.ODM.port stream 0660 system system

on post-fs
    chmod 0660 /dev/lge_dm_tty0
    chown system system /dev/lge_dm_tty0

on property:persist.service.odm_log.enable=true
    start lg_dm_router1

on property:persist.service.dm_app.enable=true
    start lg_dm_router2

on property:persist.service.dm_app.enable=false
    stop lg_dm_router2

on property:persist.service.odmevent.enable=true
    start lg_odm_service1

on property:persist.service.odm_app.enable=true
    start lg_odm_service2

service modem_debug_info /system/bin/sh /system/bin/modem_debug_info.sh
    class late_start
    user system
    group system
    disabled
    oneshot

on property:sys.boot_completed=1
    start modem_debug_info
