on boot
    # Begin LG Volume vibrator
    chown system system /sys/class/timed_output/vibrator/amp
    chmod 0664 /sys/class/timed_output/vibrator/amp

on property:init.svc.ssr_setup=stopped
    write /sys/bus/msm_subsys/devices/subsys2/restart_level system

service audioserver /system/bin/audioserver
    class main
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct qcom_diag
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks