on chargerlogo
    # chargerlogo
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger chargerlogo_exec

on chargerlogo_exec
    setprop persist.service.kernel.enable 4
    setprop persist.cne.feature 0
    setprop persist.dpm.feature 0
    start log-kernel
    stop bootanim
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6300
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions charge_only
    write /sys/class/android_usb/android0/enable 1
    write /persist-lg/chargerlogo/autoboot_nosound 0
    chmod 0666 /persist-lg/chargerlogo/autoboot_nosound

    chown root system /sys/class/power_supply/battery/input_current_max
    chown root system /sys/class/power_supply/battery/input_current_limited
    chown root system /sys/class/power_supply/battery/voltage_min
    chown root system /sys/class/power_supply/battery/input_current_settled
    chmod 0664 /sys/class/power_supply/battery/input_current_max
    chmod 0664 /sys/class/power_supply/battery/input_current_limited
    chmod 0664 /sys/class/power_supply/battery/voltage_min
    chmod 0664 /sys/class/power_supply/battery/input_current_settled

    exec u:r:chargerlogo:s0 -- /sbin/chargerlogo

on post-fs-data
    # Power_BSP, thermal senario change about LCD brightness
    chown system system /sys/class/leds/lcd-backlight/thermald_status
    chmod 0644 /sys/class/leds/lcd-backlight/thermald_status

on boot
    # pm debug mask enable(clock/resume irq)
    write /sys/kernel/debug/clk/debug_suspend 1
    write /sys/module/msm_show_resume_irq/parameters/debug_mask 1
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/safety_timer_enabled
    # charging mitigation for mitigation
    chown system system /sys/class/power_supply/battery/constant_charge_current_max

# Power_BSP, add hard reset property
on property:persist.lge.hardreset=1
    write /sys/module/msm_poweroff/parameters/hard_reset 1
on property:persist.lge.hardreset=0
    write /sys/module/msm_poweroff/parameters/hard_reset 0
